numpy
hydra-core
hydra_colorlog
hydra-submitit-launcher
pytorch-lightning
pytorch-lightning-bolts
matplotlib
seaborn
git+git://github.com/InterDigitalInc/CompressAI.git#egg=compressai
pillow
einops
pandas

# only necessary when estimting entropies
ndd

# only necessay for satellite dataset
kaggle
opencv-python

#only necessary if want to log using wandb
wandb

# only necessary for computing area uinder RD curves (and could easily be computed without)
sklearn