numpy
hydra-core
hydra_colorlog
hydra-submitit-launcher
pytorch-lightning
pytorch-lightning-bolts
torchmetrics
matplotlib
seaborn
compressai
pillow
einops
pandas

# only necessay for satellite dataset
kaggle
opencv-python

#only necessary if want to log using wandb
wandb

# only necessary for computing area uinder RD curves (and could easily be computed without)
sklearn

# hyperparameter tuning
hydra-optuna-sweeper

# transfer learning datasets
tensorflow
tensorflow_datasets

# CLIP
ftfy 
regex 
tqdm
git+https://github.com/openai/CLIP.git